body {
    margin-left: 40px;
    margin-right: 40px;
    
}

hr{
    color: red;
}
.cabecalho {
    border: 5px solid red;
    border-radius: 20px;
    height: 50px;

}

.logo{
    padding-left: 10px;
    padding-top: 5px;
}

ul{
    list-style: none;
    text-decoration: none;
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items: center;
    gap: 100px;
    
    background-color: red;
   
    border-radius: 10px;


}

li{
    padding-right: 15px;
    font-size: 10pt;
    color: black;
    font-weight: 800;
    font-style: italic;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif

}
.navegacao{

}

.nome-propriedade{
    font-size: 2em;
    font-weight: 500;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: blue;
    

}

.titulo-pagina{
    text-align: center;
    font-style: italic;
    font-size: 3em;
    font-weight: 800;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: darkblue;
}

.valor-propriedade{
    font-size: 20pt;
    font-weight: 400;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: black;
    

}

.bloco1{
    background-color: lightskyblue;
    height: 150px;
    width: 150px;
    text-align: center;
    font-size: 40px;
    font-family: 'Courier New', Courier, monospace;
    border-radius: 16px;
    border: 5px solid black;

}

.bloco2{
    background-color: lightcyan;
    height: 150px;
    width: 150px;
    text-align: center;
    font-size: 40px;
    font-family: 'Courier New', Courier, monospace;
    border-radius: 16px;
    border: 5px solid black;

}

.bloco3{
    background-color: lightgray;
    height: 150px;
    width: 150px;
    text-align: center;
    font-size: 40px;
    font-family: 'Courier New', Courier, monospace;
    border-radius: 16px;
    border: 5px solid black;


}